# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# IDEs and Editors
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Output and sensitive data
*.pkl
*.h5
*.csv
*.xlsx
*.feather

